
p.custpara {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

div.nopadding {
  padding: 0px;
}

#Actual {
  padding: 20px;
}

.slideup,
.slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.8s ease-in-out;
  -moz-transition: max-height 0.8s ease-in-out;
  -o-transition: max-height 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out;
}

.slidedown {
  max-height: 500px;
}

.btn:hover{
  cursor: pointer;
}
div.coursecontainer{
  padding: 10px;
  border: solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

div.deactive{
  border: 2px solid red;
  background-color: #fabebe;
}

div.active{
  border: 2px solid green;
  background-color: #d5fabe;
}

div.toggle{
  margin-bottom: 10px;
}

button.actdeact{
  float:right;
/*  margin-top: 5px;*/
}


h4.batchhead{
  margin: 0px;
  padding-top: 6px;
  margin-left: 10px;
}

h4.batchhead:hover{
  margin: 0px;
  padding-top: 6px;
  margin-left: 10px;
  color: blue;
  cursor: pointer;
}

div.divscrolls{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height:300px;
  border: 1px solid black;
  background-color: #fafafa;
}

div.divscrollc{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height:300px;
  border: 1px solid black;
  background-color: #fafafa;
}

div.divscrollselectstd{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height:300px;
  border: 1px solid black;
  background-color: #fafafa;
}

table.teachtable{
  border: 1px solid black;
  background-color: #fafafa;
}

img.smallpic{
  border-radius: 2px;
  border: 1px solid black;
  height: 50px;
  width: 40px;
  float: right;
}

table.stdtable, table.classtable{
  background-color: #fafafa;
}

table>thead>tr>th {
  position: sticky;
  z-index: 1;
  top: 0;
}

::-webkit-scrollbar{
  width:0px;
  background: transparent;
}

a.namelink{
  color: black;
}

.nomargin{
  margin: 0px;
}

.thead-dark th{
  color:#fff;
  background-color:#343a40;
  border-color:#454d55;
}

