.nomargin{
  margin: 0px;
}

div.weekrev{
  border: 1px solid black;
  border-radius: 5px;
  background-color: floralwhite;
}

ul.clist>li{
  display: inline;
}

img.commentpic{
  border-radius: 100%;
  height: 40px;
  width: auto;
}
.nopadding-right{
  padding-right: 0px;
}
.nopadding-left{
  padding-left: 0px;
}
.padding-top{
  padding-top: 10px;
}
a.namelink{
  color: black;
}
a.namelink:hover{
  color: blue;
}
.btn:hover{
  cursor: pointer;
}